@import "../../../styles/variable";

.button {
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 8px 0;
  font-weight: 600;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: .3s background-color ease-in-out;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed;
  }
}

.basic {
  background-color: transparent;
  border-color: transparent;
  color: $color-blue;

   &:hover {
    background-color: darken($color-blue, 10%) ;
  }
}

.outline {
  background-color: $color-white;
  border-color: $color-blue;
  color: $color-blue;

  &:hover {
    background-color: darken($color-white, 20%) ;
  }
}

.primary {
  background-color: $color-blue;
  border-color: $color-blue;
  color: $color-white;

  &:hover {
    background-color: darken($color-blue, 10%) ;
  }
}

.orange {
  background-color: $color-orange;
  border-color: $color-orange;
  color: $color-white;

  &:hover {
    background-color: darken($color-orange, 20%) ;
  }
}

.grey {
  background-color: #97A6B4;
  border-color: #97A6B4;
  color: $color-white;

  &:hover {
    background-color: darken(#97A6B4, 20%) ;
  }
}

.fullWidth {
  width: 100%;
}

.loading {
  cursor: not-allowed;
  pointer-events: none;
}