@import "../../../../styles/variable";

.formMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  > * {
    margin: 4px;
  }
}

.formDetails {
  margin-top: 16px;
  background-color: $color-blue-lighter;
  padding: 16px 8px 0;

  &Info {
    display: flex;
    justify-content: space-between;
  }

  &Input {
    border-top: 1px solid #C4C4C4;
    padding: 24px 16px 0;
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    column-gap: 20px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.width500 {
  border-radius: 0 !important;
  width: 500px !important;
}

.width250 {
  border-radius: 0 !important;
  width: 250px !important;
}

.width100 {
  border-radius: 0 !important;
  width: 100px !important;
}

.spaceBetween {
  justify-content: space-between;
}

.gridSpace {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 20px;
}