@import "../../../styles/variable";

%active {
  color: $color-blue;
  border-radius: 10px 0px 0px 10px;
  background-color: $color-white;

  path {
    fill: $color-blue;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.mainContent {
  flex: 1;
}

.nav {
  background: $color-blue;
  padding: 4px 20px;
  display: flex;
  z-index: 200;
  width: 100%;
  top: 0;
  position: fixed;

  &Left {
    display: flex;
    width: 240px;

    >svg {
      margin: auto;
    }
  }

  &Right {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 480px;

    >svg {
      margin: auto;
    }
  }
}

.userSection {
  position: relative;
  >span {
    color: $color-white;
    margin-right: 4px;
  }
}

.sideMenu {
  width: 240px;
  background-color: $color-blue;
  padding: 10px 0px;
  position: fixed;
  height: 100vh;
  border-top: .5px solid $color-white;
  margin-top: 18px;
}


.mainWrapper {
  margin-top: 48px;
  margin-left: 220px;
  padding: 28px 24px;
  flex: 1;
  
  >* {
    margin: 0 auto;
    max-width: 1110px;
  }
}

.wrapper {
  width: 100%;
}

.dashboardWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topbarWrapper {
  composes: wrapper;
  background-color: $color-white;
  padding: 0;
  color: #fff;
}

.container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1280px;
}

.profile {
  align-items: center;
  padding: 15px 0;

  &:hover {
    .dropdown {
      display: block;
    }
  }
}

.logo {
  height: 35px;
}

.topbarRightItems {
  align-items: center;
  display: flex;
  margin-left: auto;
  color: $color-black;
}

.searchForm {
  margin-right: 32px;

  input {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    height: 40px;
    width: 300px;
  }

  ::placeholder {
    color: rgba(255, 255, 255, .8);
  }
}

.avatar {
  $dimensions: 32px;
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  border-radius: $dimensions/2;
  height: $dimensions;
  width: $dimensions;
}

.navWrapper {
  composes: wrapper;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 rgba(63, 144, 53, 0.116);
  margin-bottom: 24px;
}

.navList {
  color: $color-white;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto 0 0;
  padding: 0;

  >li {
    padding: 8px 0px 8px 16px;

    >a {
      transition: all .2s ease;

      &:hover {
        @extend %active;
      }
    }
  }

  &Child {
    composes: navList;
    margin-left: auto;
    width: 200px;

    >li>a {
      text-transform: capitalize;
      display: flex;
      align-items: center;

      >svg {
        margin-left: auto;
        width: 8px;
        height: 12px;
      }
    }
  }
}

.navItem {
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
  text-decoration: none;

  > svg {
    margin: 0 8px;
  }

}

.navItemActive {
  color: $color-blue;
  border-radius: 10px 0px 0px 10px;
  background-color: $color-white;

  path {
    fill: currentColor;
  }
}

.navItemIcon {
  margin: 0px 8px;

  path {
    fill: currentColor;
  }
}

.dropdown {
  position: absolute;
  z-index: 111;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07), 0 15px 35px 0 rgba(56, 56, 56, 0.2);
  background-color: $color-blue;
  padding: 15px;
  border-radius: 3px;
  top: 32px;
  width: 200px;
  right: -8px;
  color: $color-white;
  > * {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding: 4px 0 8px 0;
  }

  >li:not(:last-child) {
    border-bottom: 1px solid $color-white;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 90px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid $color-blue;
  }
}

.logoutButton {
  color: $color-white;
  margin: 0 8px
}