$color-blue: #1E638F;
$color-blue-light: #1DA1F2;
$color-white: #FFFFFF;
$color-orange: #F2761D;
$color-grey: #E5E5E5;
$color-grey-dark: #C4C4C4;
$color-blue-light: #C4E7FC;
$color-blue-lighter: #EBF5FD;
$color-black: #000000;
$color-red: #FF0000;
$color-green: #4BB543;